<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galaxytechstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.GalaxyTechStore">
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".OrderDetailsActivity"></activity>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".OrderConfirmationActivity" />
        <activity
            android:name=".AddAddressActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MyAddressesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DeliveryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".UpdateUserInfoActivity" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProductDetailsActivity"
            android:theme="@style/ThemeNoActionBar" />
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".ViewAllActivity" />
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".CategoryActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GalaxyTechStore.NoActionBar" />
        <activity
            android:name=".Login_Register_ResetPasswordActivity"
            android:theme="@style/ThemeNoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>